---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Medal from '../icons/medal.astro';
import "style.css";
---

<Layout title="Welcome to Astro.">
	<h1 class="md:text-4xl 2xl:text-[3rem] font-bold text-center mb-6">Top Basketball Players Of M.P.</h1>
	<div class="flex flex-col items-center">
		<div class="flex items-center gap-2  stagger-1 text-yellow-400">
			<span class="max-sm:text-xl max-md:text-4xl max-lg:text-4xl max-xl:text-[3rem] max-2xl:text-[3rem] 2xl:text-[3rem]">1st:</span>
			<Medal class="w-16 p-2 h-fit" num={1} x={0} />
			<span class="max-sm:text-xl max-md:text-4xl max-lg:text-4xl max-xl:text-[3rem] max-2xl:text-[3rem] 2xl:text-[3rem]">Shivesh Pandey -> Indore</span>
		</div>
		<div class="flex items-center gap-2  stagger-2 text-gray-300">
			<span class="max-sm:text-xl max-md:text-4xl max-lg:text-4xl max-xl:text-[3rem] max-2xl:text-[3rem] 2xl:text-[3rem]">2nd:</span>
			<Medal class="w-16 p-2 h-fit" num={2} x={0} />
			<span class="max-sm:text-xl max-md:text-4xl max-lg:text-4xl max-xl:text-[3rem] max-2xl:text-[3rem] 2xl:text-[3rem]">Harshveer Singh Bhati -> Indore</span>
		</div>
		<div class="flex items-center gap-2  stagger-3 text-[#ea6900]">
			<span class="max-sm:text-xl max-md:text-4xl max-lg:text-4xl max-xl:text-[3rem] max-2xl:text-[3rem] 2xl:text-[3rem]">3rd:</span>
			<Medal class="w-16 p-2 h-fit" num={3} x={0} />
			<span class="max-sm:text-xl max-md:text-4xl max-lg:text-4xl max-xl:text-[3rem] max-2xl:text-[3rem] 2xl:text-[3rem]">Samarth Singh Shikawat -> Indore</span>
		</div>
		<div class="flex items-center gap-2  stagger-4 text-yellow-600">
			<span class="max-sm:text-xl max-md:text-4xl max-lg:text-4xl max-xl:text-[3rem] max-2xl:text-[3rem] 2xl:text-[3rem]">4th:</span>
			<Medal class="w-16 p-2 h-fit" num={4} x={0} />
			<span class="max-sm:text-xl max-md:text-4xl max-lg:text-4xl max-xl:text-[3rem] max-2xl:text-[3rem] 2xl:text-[3rem]">Sarvam Agrawal -> Indore</span>
		</div>
		<div class="flex items-center gap-2  stagger-5 text-yellow-600">
			<span class="max-sm:text-xl max-md:text-4xl max-lg:text-4xl max-xl:text-[3rem] max-2xl:text-[3rem] 2xl:text-[3rem]">5th:</span>
			<Medal class="w-16 p-2 h-fit" num={4} x={0} />
			<span class="max-sm:text-xl max-md:text-4xl max-lg:text-4xl max-xl:text-[3rem] max-2xl:text-[3rem] 2xl:text-[3rem]">Kush Sharma -> Indore</span>
		</div>
		<div class="flex items-center gap-2  stagger-6 text-yellow-600">
			<span class="max-sm:text-xl max-md:text-4xl max-lg:text-4xl max-xl:text-[3rem] max-2xl:text-[3rem] 2xl:text-[3rem]">6th:</span>
			<Medal class="w-16 p-2 h-fit" num={4} x={0} />
			<span class="max-sm:text-xl max-md:text-4xl max-lg:text-4xl max-xl:text-[3rem] max-2xl:text-[3rem] 2xl:text-[3rem]">Krishiv Goyal -> Indore</span>
		</div>
		<div class="flex items-center gap-2  stagger-7 text-yellow-600">
			<span class="max-sm:text-xl max-md:text-4xl max-lg:text-4xl max-xl:text-[3rem] max-2xl:text-[3rem] 2xl:text-[3rem]">7th:</span>
			<Medal class="w-16 p-2 h-fit" num={4} x={0} />
			<span class="max-sm:text-xl max-md:text-4xl max-lg:text-4xl max-xl:text-[3rem] max-2xl:text-[3rem] 2xl:text-[3rem]">Kanishk Hasnani -> Indore</span>
		</div>
		<div class="flex items-center gap-2  stagger-8 text-yellow-600">
			<span class="max-sm:text-xl max-md:text-4xl max-lg:text-4xl max-xl:text-[3rem] max-2xl:text-[3rem] 2xl:text-[3rem]">8th:</span>
			<Medal class="w-16 p-2 h-fit" num={8} x={0} />
			<span class="max-sm:text-xl max-md:text-4xl max-lg:text-4xl max-xl:text-[3rem] max-2xl:text-[3rem] 2xl:text-[3rem]">Akshansh Singh -> Indore</span>
		</div>
		<div class="flex items-center gap-2  stagger-9 text-yellow-600">
			<span class="max-sm:text-xl max-md:text-4xl max-lg:text-4xl max-xl:text-[3rem] max-2xl:text-[3rem] 2xl:text-[3rem]">9th:</span>
			<Medal class="w-16 p-2 h-fit" num={9} x={0} />
			<span class="max-sm:text-xl max-md:text-4xl max-lg:text-4xl max-xl:text-[3rem] max-2xl:text-[3rem] 2xl:text-[3rem]">Karamveer -> Indore</span>
		</div>
		<div class="flex items-center gap-2  stagger-10 text-yellow-600">
			<span class="max-sm:text-xl max-md:text-4xl max-lg:text-4xl max-xl:text-[3rem] max-2xl:text-[3rem] 2xl:text-[3rem]">10th:</span>
			<Medal class="w-16 p-2 h-fit" num={10} x={0} />
			<span class="max-sm:text-xl max-md:text-4xl max-lg:text-4xl max-xl:text-[3rem] max-2xl:text-[3rem] 2xl:text-[3rem]">Krishna Barua -> Indore</span>
		</div>
</div>

</Layout>

<style>
.stagger-1 {
    animation: fadeIn forwards ease-out 2s;
}

.stagger-2 {
    animation: fadeIn forwards ease-out 2.5s;
}

.stagger-3 {
    animation: fadeIn forwards ease-out 3s;
}

.stagger-4 {
    animation: fadeIn forwards ease-out 3.5s;
}

.stagger-5 {
    animation: fadeIn forwards ease-out 4s;
}

.stagger-6 {
    animation: fadeIn forwards ease-out 4.5s;
}

.stagger-7 {
    animation: fadeIn forwards ease-out 5s;
}

.stagger-8 {
    animation: fadeIn forwards ease-out 5.5s;
}

.stagger-9 {
    animation: fadeIn forwards ease-out 6s;
}

.stagger-10 {
    animation: fadeIn forwards ease-out 6.5s;
}
	@keyframes fadeIn {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

</style>
